{% extends 'dashboard.html.twig' %}

{% block title %}Depot{% endblock %}

{% block body %}
    <h1>Depot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ depot.id }}</td>
            </tr>
            <tr>
                <th>Capacité</th>
                <td>{{ depot.Capacite }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ depot.Categorie }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ depot.Localisation }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ depot.Etat }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-info" href="{{ path('depot_index') }}">back to list</a>

    <a class="btn btn-outline-warning" href="{{ path('depot_edit', {'id': depot.id}) }}">edit</a>

    {{ include('depot/_delete_form.html.twig') }}
{% endblock %}
