{% extends 'dashboard.html.twig' %}

{% block title %}Voyage index{% endblock %}

{% block body %}
    <h1>Liste Des Voyages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ref_voyage</th>
                <th>Station_Depart</th>
                <th>Station_Arrive</th>
                <th>Vehicule</th>
                <th>Ligne</th>

                <th>Date_depart</th>
                <th>Date_arrive</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.refVoyage }}</td>
                <td>{{ voyage.getStationDepart()}}</td>
                <td>{{ voyage.getStationArrive()}}</td>
                <td>{{ voyage.MoyenDeTransport }}</td>
                <td>{{ voyage.ligne ? voyage.ligne|join(', ') : '' }}</td>
                <td>{{ voyage.dateDepart ? voyage.dateDepart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ voyage.dateArrive ? voyage.dateArrive|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('voyage_show', {'id': voyage.id}) }}">show</a>
                    <a class="btn btn-danger" href="{{ path('voyage_edit', {'id': voyage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-warning" href="{{ path('voyage_new') }}">Create new</a>
{% endblock %}
